<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.gymhub.model.mapper.PurchaseMapper">

    <resultMap id="purchaseResultMap" type="com.kh.gymhub.model.vo.Purchase">
        <id property="purchaseNo" column="PURCHASE_NO"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="gymNo" column="GYM_NO"/>
        <result property="purchaseDate" column="PURCHASE_DATE"/>
        <result property="purchaseCost" column="PURCHASE_COST"/>
        <result property="purchaseStatus" column="PURCHASE_STATUS"/>
    </resultMap>

    <insert id="insertPurchase" parameterType="com.kh.gymhub.model.vo.Purchase">
        <selectKey keyProperty="purchaseNo" resultType="_int" order="BEFORE">
            SELECT SEQ_PURCHASE_NO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO PURCHASE (
            PURCHASE_NO,
            MEMBER_NO,
            GYM_NO,
            PURCHASE_DATE,
            PURCHASE_COST,
            PURCHASE_STATUS
        ) VALUES (
            #{purchaseNo},
            #{memberNo},
            #{gymNo},
            SYSDATE,
            #{purchaseCost},
            #{purchaseStatus}
        )
    </insert>

    <select id="selectPurchaseByNo" parameterType="_int" resultMap="purchaseResultMap">
        SELECT PURCHASE_NO,
               MEMBER_NO,
               GYM_NO,
               PURCHASE_DATE,
               PURCHASE_COST,
               PURCHASE_STATUS
        FROM PURCHASE
        WHERE PURCHASE_NO = #{purchaseNo}
    </select>

    <!-- 회원 삭제 시 구매 상태를 환불로 변경 -->
    <update id="refundPurchasesByMemberNo">
        UPDATE PURCHASE
        SET PURCHASE_STATUS = '환불'
        WHERE MEMBER_NO = #{memberNo}
          AND GYM_NO = #{gymNo}
          AND PURCHASE_STATUS = '결제'
    </update>

    <!-- 회원번호와 헬스장번호로 구매 목록 조회 -->
    <select id="selectPurchasesByMemberNoAndGymNo" resultMap="purchaseResultMap">
        SELECT PURCHASE_NO,
               MEMBER_NO,
               GYM_NO,
               PURCHASE_DATE,
               PURCHASE_COST,
               PURCHASE_STATUS
        FROM PURCHASE
        WHERE MEMBER_NO = #{memberNo}
          AND GYM_NO = #{gymNo}
          AND PURCHASE_STATUS = '결제'
        ORDER BY PURCHASE_DATE DESC
    </select>

</mapper>

